@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

:root {
  --main-color: rgb(164, 89, 235);
  --secondary-color: rgb(98, 52, 141);
  --text-color: rgb(0, 0, 0);
  --background-color: #ffffff;
  --background-soft: #ffffff;
  --max-width: min(1200px, 90%);
  --item-gap: 26px;
  --border-color: #2020208a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #0f1016;
    --background-soft: #1d1d1f;
    --border-color: #d1d0d023;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

header {
  background-color: #0f1016;
}

nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: var(--secondary-color);
}

nav .brand {
  margin-right: auto;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  right: 20px;
}

nav svg {
  fill: #f0f0f0;
}

nav svg:hover {
  cursor: pointer;
  fill: var(--main-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (width < 768px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: #0f1016;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s ease-out;
  }
  nav a:not(:first-child) {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

section {
  max-width: var(--max-width);
  margin: 0 auto;

  h2 {
    color: var(--main-color);
    margin: 40px 0;
  }
}

.hero {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.397)), url('img/onur-binay-4Ykxp_t4i08-unsplash.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 700px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--item-gap);
  height: 100%;
  max-width: 620px;

  h1 {
    font-size: 48px;
    line-height: 1.1;
  }

  p {
    font-size: 18px;
    color: rgb(204, 203, 203);
    line-height: 1.5;
    letter-spacing: 0.9px;
  }

  a {
    align-self: flex-start;
  }
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--item-gap);
}

.producto {
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.103);
  border-radius: 8px;
  overflow: hidden;
  min-width: 240px;
  background-color: var(--background-soft);
  flex: 1;

  img {
    width: 100%;
    height: 240px;
    object-fit: contain;
  }

  .desc {
    padding: 10px;

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      line-height: 1.4;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }

    .price {
      margin: 6px 0;
      font-size: 24px;
      font-weight: bold;
      color: rgb(226, 43, 119);
    }

    .calificacion {
      color: rgb(226, 43, 119);
      font-weight: 600;
    }

    a {
      display: block;
      margin: 12px auto;
      width: 90%;
      text-align: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--item-gap);

  div {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 12px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease-in-out;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover img {
      transform: scale(1.2);
    }

    span {
      background: rgba(3, 3, 3, 0.308);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 2px solid rgba(255, 255, 255, 0.555);
      border-radius: 12px;
      padding: 2px 8px;
      text-shadow: 2px 2px 4px 2px black;
    }
  }
}

.usados {
  margin-top: 40px;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.397)), url('img/alexandru-bogdan-ghita-iXXfSw_1J9k-unsplash.jpg');
}

#Contacto {
  max-width: min(600px, 90%);

  h2 {
    margin: 40px 0 10px;
    text-align: center;
  }

  p {
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    label {
      font-size: 14px;
      font-weight: bold;
    }

    input,
    textarea {
      resize: none;
      font-size: 16px;
      font-family: Poppins, 'Segoe UI', sans-serif;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      padding: 10px;
      background-color: var(--background-soft);
      color: var(--text-color);
    }

    button {
      margin: 10px 0 40px;
    }
  }
}

footer {
  background-color: #141313;
  color: #d1d0d0;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
    flex-wrap: wrap;

    .desc {
      width: 500px;

      h2 {
        margin: 10px 0;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-transform: uppercase;
      font-size: 14px;
    }

    .links a:first-child {
      font-weight: bold;
    }

    .links a:hover {
      color: #fff;
    }
  }

  .bottom {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;

    .social {
      display: flex;
      gap: 20px;
      margin: 20px;

      a:hover {
        color: white;
      }
    }
  }
}
